<div #videoContainer>
    <div *ngIf="optionsAvailable" class="body">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-select [(value)]="filter" (valueChange)="onSettingChange()">
                @for (f of filters; track f) {
                <mat-option [value]="f.value">{{f.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <toggle-button [(isTicked)]="with_level" text="with level" (isTickedChange)="onSettingChange()"></toggle-button>
        <toggle-button [(isTicked)]="with_rows" text="with rows" (isTickedChange)="onSettingChange()"></toggle-button>
    </div>
    <div>
        <div class="loadingSpinner" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
            <span>Loading life view...</span>
        </div>
        <img [src]="videoUrl" (load)="onImageLoad()" (error)="onImageError()"
            [ngStyle]="{'display': isLoading ? 'none' : 'block'}">
    </div>
</div>