<div *ngIf="!disable_component" #videoContainer>
    <div *ngIf="optionsAvailable">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-select [(value)]="filter" (valueChange)="onSettingChange()">
                @for (f of filters; track f) {
                <mat-option [value]="f.value">{{f.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="with_level" (change)="onSettingChange()">with level</mat-checkbox>
        <mat-checkbox [(ngModel)]="with_rows" (change)="onSettingChange()">with rows</mat-checkbox>
    </div>
    <p></p>
    <img [src]="videoUrl" *ngIf="isStreamEnabled">
</div>