<div *ngIf="!disable_component" #videoContainer>
    <div *ngIf="optionsAvailable" class="body">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-select [(value)]="filter" (valueChange)="onSettingChange()">
                @for (f of filters; track f) {
                <mat-option [value]="f.value">{{f.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <toggle-button [(isTicked)]="with_level" text="with level" (isTickedChange)="onSettingChange()"></toggle-button>
        <toggle-button [(isTicked)]="with_rows" text="with rows" (isTickedChange)="onSettingChange()"></toggle-button>
    </div>
    <p></p>
    <img [src]="videoUrl" *ngIf="isStreamEnabled">
</div>