<div class="overlay" *ngIf="failedToConnect">
    <ng-container>
        <mat-spinner></mat-spinner>
        <span>Waiting for Response...</span>
    </ng-container>
</div>

<div *ngIf="!failedToConnect&&API.settings">
    <div class="mat-card-container">
        <mat-card>
            <mat-card-title>Live View</mat-card-title>
            <mat-card-content>
                <app-video-streamer [checkBoxLabel]="'raw video'" [ID]="'1'"
                    [optionsAvailable]="false"></app-video-streamer>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-title>Camera Settings</mat-card-title>
            <app-double-slider [(value1)]="API.settings.cam_settings.ExposureTime" label1="Exposure Time"
                (valueChange)="API.setSettings()" [isSingleSlider]="true" [minValue]="10000"
                [maxValue]="100000">
            </app-double-slider>

            <app-double-slider [(value1)]="API.settings.fisheye" label1="Fisheye"
                (valueChange)="API.setSettings()" [isSingleSlider]="true" [minValue]="0"
                [maxValue]="300">
            </app-double-slider>

            <app-double-slider [(value1)]="API.settings.cam_settings.frame_cutout.min" [(value2)]="API.settings.cam_settings.frame_cutout.max"
                label1="Min Cutout" label2="Max Cutout" (valueChange)="API.setSettings()" [maxValue]="3000">
            </app-double-slider>

            <toggle-button [(isTicked)]="API.settings.cam_settings.ReverseX" text="Reverse X"
                (isTickedChange)="API.setSettings()"></toggle-button>
            <toggle-button [(isTicked)]="API.settings.cam_settings.ReverseY" text="Reverse Y"
                (isTickedChange)="API.setSettings()"></toggle-button>
            <toggle-button [(isTicked)]="API.settings.cam_settings.ColorTransformationEnable"
                text="Enable Color Transformation" (isTickedChange)="API.setSettings()"></toggle-button>
        </mat-card>
    </div>
</div>