@use '../styles.scss' as gs;


.status-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.status-item-OK,
.status-item-FAIL {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.status-item-OK {
    background-color: #32a852;
}

.status-item-FAIL {
    background-color: #c72222;
}

mat-sidenav {
    color: #4287f5;
    background-color: gs.$gray;
    //border-color: gs.$tourquise;
    border-radius: 0%;
    width: 200px;
    
}

mat-nav-list {
    border-color: gs.$gray !important;
    border-radius: 0%;
    padding: 0px;
}

.a {
    background-color: gs.$tourquise;
    border-radius: 0% !important;
    height: calc((100vh / 5)) !important;
    padding: 0px !important;
    border-bottom: 1px solid gs.$gray !important;
    padding: 10px !important;
    display: flex !important;
}

.a.active{
    background-color: gs.$gray;
    border-right: 1px solid gs.$tourquise !important;
}

.nav-item-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px; // Add some horizontal padding
    color: gs.$gray;
}

.a.active .nav-item-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px; // Add some horizontal padding
    color: gs.$tourquise;
}

.nav-item-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px; // Space between icon and text
}
