<!-- Status Bar -->
<div class="body">
    <div *ngIf="settings" class="status-bar">

        <div [ngClass]="settings.status.camera_connected ? 'status-item-OK' : 'status-item-FAIL'">
            <mat-icon>photo_camera</mat-icon>
            <span *ngIf="settings.status.camera_connected; else cam_disconnected">Cam Connected</span>
            <ng-template #cam_disconnected>Cam Disconnected</ng-template>
        </div>

        <div [ngClass]="settings.status.PLC_connected ? 'status-item-OK' : 'status-item-FAIL'">
            <mat-icon>developer_board</mat-icon>
            <span *ngIf="settings.status.PLC_connected; else plc_disconnected">PLC Connected</span>
            <ng-template #plc_disconnected>PLC Disconnected</ng-template>
        </div>
    </div>
    <!--Side Navigation Bar-->
    <mat-sidenav-container class="sidenav-container position-relative">
        <mat-sidenav #sidenav mode="side" opened fixedInViewport>
            <mat-nav-list>
                <a class="a" mat-list-item routerLink="/live-view" routerLinkActive="active">
                    <mat-icon>camera</mat-icon>
                    Live View
                </a>
                
                <a class="a" mat-list-item routerLink="/filter-settings-colour" routerLinkActive="active">
                    <mat-icon>settings_input_component</mat-icon>
                    Filter Settings | Colour
                </a>
                <a class="a" mat-list-item routerLink="/filter-settings-f1" routerLinkActive="active">
                    <mat-icon>settings_input_component</mat-icon>
                    Filter Settings | Filter 1
                </a>
                <a class="a" mat-list-item routerLink="/filter-settings-f2" routerLinkActive="active">
                    <mat-icon>settings_input_component</mat-icon>
                    Filter Settings | Filter 2
                </a>
                <a class="a" mat-list-item routerLink="/cam-settings" routerLinkActive="active">
                    <mat-icon>photo_camera</mat-icon>
                    Camera Settings
                </a>
                <a class="a" mat-list-item routerLink="/system-settings" routerLinkActive="active">
                    <mat-icon>settings</mat-icon>
                    System Settings
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>