<mat-sidenav-container class="sidenav-container position-relative">
  <mat-sidenav #sidenav mode="side" opened fixedInViewport>
      <mat-nav-list>
          <a mat-list-item routerLink="/live-view" routerLinkActive="active">
              <mat-icon>camera icon</mat-icon>
              Live View
          </a>
          <a mat-list-item routerLink="/filter-settings" routerLinkActive="active">
              <mat-icon>settings_input_component</mat-icon>
              Filter Settings
          </a>
          <a mat-list-item routerLink="/system-settings" routerLinkActive="active">
              <mat-icon>settings</mat-icon>
              System Settings
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>