<div *ngIf="isLoading">
    Loading...
</div>

<div *ngIf="failedToConnect">
    Connection to backend failed
</div>

<div *ngIf="!isLoading&&!failedToConnect&&settings">
    <app-video-stream [checkBoxLabel]="'raw video'"[ID]="'1'" [with_level]="true" [with_rows]="true"></app-video-stream>
    <app-double-slider 
        [value1]="settings.frame_cutout.min"
        [value2]="settings.frame_cutout.max"
        label1="Frame cutout min"
        label2="Frame cutout max"
        (value1Changed)="onMinCutoutChange($event)"
        (value2Changed)="onMaxCutoutChange($event)"
        [maxValue]=3000>
    </app-double-slider>
</div>