<app-video-stream [checkBoxLabel]="'Monochrom'"[ID]="'1'"filter="mono"></app-video-stream>

<mat-card class="card-style">
    <mat-card-title>Colour Filter</mat-card-title>
    <app-double-slider [value1]="value_1" [value2]="value_2" label1="Max Hue" label2="Min Hue"
        (value1Changed)="onValue1Changed($event)" (value2Changed)="onValue2Changed($event)">
    </app-double-slider>
    <app-double-slider [value1]="value_1" [value2]="value_2" label1="Max Saturation" label2="Min Saturation"
        (value1Changed)="onValue1Changed($event)" (value2Changed)="onValue2Changed($event)">
    </app-double-slider>
    <app-double-slider [value1]="value_1" [value2]="value_2" label1="Max Value" label2="Min Value"
        (value1Changed)="onValue1Changed($event)" (value2Changed)="onValue2Changed($event)">
    </app-double-slider>
</mat-card>