<div *ngIf="failedToConnect">
    Connection to backend failed
</div>

<div *ngIf="!failedToConnect&&settings">
    <div class="mat-card-container">
        <mat-card>
            <mat-card-title>Live View</mat-card-title>
            <mat-card-content>
                <app-video-streamer [checkBoxLabel]="'Monochrom'" [ID]="'1'" filter="filter_2"
                    [optionsAvailable]="false"></app-video-streamer>
            </mat-card-content>
        </mat-card>
        <mat-card class="card-style">
            <mat-card-title>Filter 2</mat-card-title>
            <app-double-slider [value1]="settings.filter_2" label1="Filter_value"
                (value1Changed)="onValueChange($event)" [isSingleSlider]="true" [maxValue]="30">
            </app-double-slider>
        </mat-card>
    </div>
</div>