[Desktop Entry]
Type=Application
Exec=/home/ghd/Run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=BurgerCam
Name=BurgerCam
Comment[en_US]=Start BurgerCam services
Comment=Start BurgerCam services
Name[de_DE]=BurgerCam.desktop
