<div *ngIf="failedToConnect||!API.settings">
    Connection to backend failed
</div>



<div *ngIf="!failedToConnect&&API.settings">
    <div class="mat-card-container">
        <mat-card>
            <mat-card-title>Live View</mat-card-title>
            <mat-card-content>
                <app-video-streamer [checkBoxLabel]="'Monochrom'" [ID]="'1'" filter="mono"
                    [optionsAvailable]="false"></app-video-streamer>
            </mat-card-content>
        </mat-card>


        <mat-card class="card-style">
            <mat-card-title>Colour Filter</mat-card-title>
            <mat-card-content>

                <app-double-slider [(value1)]="API.settings.colourFilter.hue.min" [(value2)]="API.settings.colourFilter.hue.max"
                    label1="Min Hue" label2="Max Hue" (valueChange)="API.setSettings()">
                </app-double-slider>

                <app-double-slider [(value1)]="API.settings.colourFilter.saturation.min"
                    [(value2)]="API.settings.colourFilter.saturation.max" label1="Min Saturation" label2="Max Saturation"
                    (valueChange)="API.setSettings()">
                </app-double-slider>

                <app-double-slider [(value1)]="API.settings.colourFilter.value.min"
                    [(value2)]="API.settings.colourFilter.value.max" label1="Min Value" label2="Max Value"
                    (valueChange)="API.setSettings()">
                </app-double-slider>

            </mat-card-content>
        </mat-card>
    </div>
</div>